.header {
  height: 74px;
  width: 100%;
}
.header__theme_dark{
  background-color: #073042;
}
.header__container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1440px;
}
.header__logo-button {
  height: 38px;
  width: 38px;
  margin: 18px 70px;
}

@media screen and (max-width: 768px) {
  .header__logo-button {
    margin: 18px 30px;
  }
}